/*layout start*/
#top-bar{
  height: 60px;
  border-bottom: 1px solid #d8dbdb;
  position: relative;
}

#change-pass{
  padding-top: 88px;
}
/*layout end*/


/* top-bar start */
#top-bar .btn-back{
  position: absolute;
  top:14px;
  right: 25px;
}

#top-bar-nav{
  position: absolute;
  height: 60px;
  width: 390px;
  left:80px;
}

#top-bar-nav a{
  display: block;
  width: 140px;
  height: 55px;
  text-align: center;
  line-height: 60px;
  font-size: 18px;
  color: #454646;
  border-bottom: 5px solid #fff;
}

#top-bar-nav a.zhxx{
  float: left;
}

#top-bar-nav a.mmxg{
  float: right;
}

#top-bar-nav a.cur{
  color:#6cc;
  border-bottom: 5px solid #6cc;
}
/* top-bar end */




/* 修改密码 start */
#change-pass h1{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

#change-pass .text{
  width: 333px;
}

.warning-tips{
  line-height: 50px;
}

#change-pass .btn-commit{
  height: 36px;
  line-height: 36px;
  width: 105px;
  border-radius: 18px;
}

.row{
  height: 50px;
}

.row .col{
  height: 50px;
  float: left;
}

.row .col-l{
  width: 216px;
  
}

.row .col-m{
  width: 356px;
}

.row .col-r{
  width: 310px;
}

/* 修改密码 end */