*{ margin:0; padding:0; border:none; }
body,input,textarea{ font-family:"microsoft yahei","Hiragino Sans GB","Hiragino Sans GB W3"; font-size:14px; color:#5d5d5e; }
body{ background-color:#fcfcfd; }
a{ color: #5d5d5e; text-decoration: none; }
h1,h2,h3{ font-weight: 400; }
h2{ font-size:18px;}
h3{ font-size:16px; }
.clear:after { content:".";display:block;height:0;clear:both;visibility:hidden;}


/* header start */
#header-wrap{
  height: 79px;
  border-bottom: 1px solid #d8dbdb;
  background: #fff;
}

#header{
  width: 1080px;
  height: 79px;
  margin-left:auto;
  margin-right: auto;   
}

#logo{
  width: 279px;
  height: 79px;
  float: left;
  background: url(../images/logo-2.png) no-repeat center center;
}

#top-menu{
  width: 265px;
  height: 79px;
  float: right;
}

#top-menu .back-index{
  float: left;
  width: 108px;
  height: 79px;
  text-align: center;
  border-right: 1px solid #d8dbdb;
}

#top-menu .login-menu{
  float: right;
  width: 155px;
  height: 79px;
  text-align: center;
  border-right: 1px solid #d8dbdb;
}

#top-menu .back-index a{
  line-height: 79px;
  font-size: 16px;
}

#top-menu .login-menu a{
  font-size: 18px;
  line-height: 79px;
}

#top-menu .login-menu span{
  height: 79px;
  line-height: 79px;
  font-size: 18px;
  margin:0 3px;
  color:#d8dbdb; 
}

#top-menu .login-info{
  float: right;
  width: 155px;
  height: 79px;
  text-align: center;
  border-right: 1px solid #d8dbdb;
  position: relative;
}

#top-menu .login-info-inner{
  position: absolute;
  width:155px;
  height: 79px;
  left:0;
  top:0;
  cursor:pointer;
}

#top-menu .login-info-inner .tx{
  position: absolute;
  width: 58px;
  height: 58px;
  border: 1px solid #d8dbdb;
  border-radius: 30px;
  left: 9px;
  top: 9px;
}

#top-menu .login-info-inner .username{
  font-size: 18px;
  color: #6cc;
  position: absolute;
  left: 69px;
  top: 28px;
  width: 85px;
  text-align: center;
}

#top-menu .login-info-list{
  position: absolute;
  top:79px;
  left:-1px;
  width:155px;
  border:1px solid #d8dbdb; 
  border-top:none;
  background: #fff;
  z-index:999;
  display: none;
}

#top-menu .login-info-list a{
  display: block;
  color:#454646;
  height: 49px;
  line-height: 49px;
  font-size:18px;
  text-align: center;
  border-top:1px solid #d8dbdb;
}

#top-menu .login-info-list a:hover{
  background: #d8dbdb;
  color:#fff;
}

#welcome{
  float: left;
  width:510px;
  height: 79px;
  line-height: 79px;
  text-align: center;
}
/* header end */


/* layout start */
#container-wrap{
  margin-top: 10px;
  overflow: hidden;
}

#container{
  width: 1080px;
  margin-left:auto;
  margin-right: auto;
}

#side,
#main{
  height: 770px;
  background-color:#fff;
  border: 1px solid #d8dbdb;
}

#side{
  float: left;
  width: 184px
}

#main{
  float: right;
  width: 882px
}
/* layout end */


/*侧边栏用户信息 start */
#side-userinfo{
  width: 184px;
  height: 212px;
  background:url(../images/side-userinfo-bg.png);
  position: relative;
}

#side-userinfo .hover{
  position: absolute;
  left:0;
  top:0;
  width:184px;
  height: 212px;
  background: #000;
  opacity: 0.5;
  z-index:1;
  filter:alpha(opacity=50);
}

#side-userinfo .tx{
  position: absolute;
  left:40px;
  top:28px;
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius:52px;
  z-index: 2;
}

#side-userinfo .sex{
  position: absolute;
  width: 35px;
  height: 35px;
  left:112px;
  top:96px;
  z-index: 3;
}

#side-userinfo .sex-m{
  background: url(../images/icon-sex-m.png) no-repeat center center;
}

#side-userinfo .username{
  position: absolute;
  text-align: center;
  top:146px;
  width: 100%;
  color:#fff;
  z-index: 2;
  font-size: 18px;
}

#side-userinfo .score{
  position: absolute;
  text-align: center;
  top:176px;
  width: 100%;
  color:#fff;
  z-index: 2;
  font-size: 18px;
}

#side-userinfo .score .num{
  color:#edcc57;
}
/*侧边栏用户信息 end */


/* 侧边栏Menu start */
#side-menu{
  border-top:1px solid #d8dbdb;
}

#side-menu .menu-list{
  display: block;
  height: 49px;
  border-bottom:1px solid #d8dbdb;
  position: relative;
  color: #5d5d5e;
  cursor: pointer;
}

#side-menu .menu-list .icon{
  width: 29px;
  height: 29px;
  position: absolute;
  left: 20px;
  top: 10px;
}

#side-menu .menu-list .title{
  width: 80px;
  height: 29px;
  line-height: 29px;
  position: absolute;
  left: 65px;
  top: 10px;
}

#side-menu .menu-list .icon-meeting{
  background: url(../images/icon-hygl.png) no-repeat center center;
}

#side-menu .menu-list .icon-meeting-cur{
  background: url(../images/icon-hygl-cur.png) no-repeat center center;
}

#side-menu .menu-list .icon-contacts{
  background: url(../images/icon-txlgl.png) no-repeat center center;
}

#side-menu .menu-list .icon-contacts-cur{
  background: url(../images/icon-contacts-cur.png) no-repeat center center;
}

#side-menu .menu-list .icon-interactive{
  background: url(../images/icon-hdgl.png) no-repeat center center;
}

#side-menu .menu-list .icon-interactive-cur{
  background: url(../images/icon-interactive-cur.png) no-repeat center center;
}

#side-menu .menu-list .icon-statistical{
  background: url(../images/icon-tjbb.png) no-repeat center center;
}

#side-menu .menu-list .border{
  position: absolute;
  top:0;
  left:0;
  width: 6px;
  height:50px;
}

#side-menu .menu-list .border-meeting{
  background-color: #8cc152;
}

#side-menu .menu-list .border-contacts{
  background-color: #5db3f5;
}

#side-menu .menu-list .border-interactive{
  background-color: #f88d68;
}

#side-menu .menu-list .icon-jt{
  width: 15px;
  height: 15px;
  position: absolute;
  right: 17px;
  top: 17px;
}

#side-menu .menu-list .icon-jt-right{
  background: url(../images/icon-jt-right.png) no-repeat center center;
}

#side-menu .menu-list .icon-jt-bottom{
  background: url(../images/icon-jt-bottom.png) no-repeat center center;
}

#interactive-child{
  display: none;
}

#interactive-child .cur{
  background: #f88d68;
  color:#fff;
}
/* 侧边栏Menu end */


/* #side-userinfo .sex-w{
  background: url(../images/icon-sex-w.png) no-repeat center center;
}
 */


#footer{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}


/* 按钮 */
.btn{
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
}

.btn-primary{
  background-color: #6cc;
  border-color: #6cc;
  color:#fff;
}

.btn-warning{
  background-color: #eca239;
  border-color: #f4af4d;
  color:#fff;
}

.btn-default{
  background-color: #fff;
  border-color: #d8dbdb;
  color:#a4a9ae;
}

.btn-br-25{
  border-radius: 25px;
}

.btn-br-21{
  border-radius: 21px;
}

.btn-br-18{
  border-radius: 18px;
}

.btn-220-50,
.btn-136-42,
.btn-106-36{
  font-size: 18px;
}

.btn-120-50{
  font-size: 16px;
  width: 118px;
  height: 48px;
  line-height: 48px;
}

.btn-100-32{
  width: 98px;
  height: 30px;
  line-height: 30px;
}

.btn-220-50{
  width: 218px;
  height: 48px;
  line-height: 48px;
}

.btn-136-42{
  width: 134px;
  height: 40px;
  line-height: 40px;
}

.btn-106-36{
  width: 104px;
  height: 34px;
  line-height: 34px;
}

.btn-112-32,
.btn-82-32{
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.btn-112-32{
  width: 110px;
  
}

.btn-82-32{
  width: 80px;
}

/* 浮动 */
.fl,.fr{ display: block; }
.fl{ float: left; }
.fr{ float: right; }

/* 定位 */
.absolute{ position: absolute; }
.relative{ position: relative; }
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.v-a-t{
  vertical-align: top;
}



/* margin */
.m-t-5{ margin-top: 5px; }
.m-t-10{ margin-top: 10px; }
.m-t-15{ margin-top: 15px; }
.m-t-20{ margin-top: 20px; }
.m-t-25{ margin-top: 25px; }
.m-t-30{ margin-top: 30px; }
.m-t-35{ margin-top: 35px; }
.m-t-40{ margin-top: 40px; }
.m-t-50{ margin-top: 40px; }

.m-r-15{ margin-right: 20px; }
.m-r-20{ margin-right: 20px; }
.m-r-40{ margin-right: 40px; }
.m-r-50{ margin-right: 50px; }

/* padding */
.p-t-14{ padding-top: 14px}
.p-t-13{ padding-top: 13px}
.p-l-15{ padding-left: 15px; }
.p-l-25{ padding-left: 25px; }
.p-r-15{ padding-right: 15px; }


/* 文本框 start */
.text{ border:1px solid #d8dbdb; outline: none; }
.text-356-50{ width: 334px; padding: 14px 10px; }
.text-356-42{ width: 334px;padding:10px; }
.text-320-38{width:298px;padding: 8px 10px; } 
.text-296-40{ width:274px; padding: 9px 10px; }
.text-294-50{ width:272px; padding: 14px 10px; }
.text-230-38{ width:208px; padding: 8px 10px; }
.text-230-32{ width:208px; padding: 7px 10px; }
.text-220-50{ width:198px; padding: 14px 10px; }
/* 文本框 end */


/* 警告提示 */
.warning-tips{
  font-size: 12px;
  color:#f16374;
  text-indent: 36px;
  background:url(../images/icon-tips-warning.png) no-repeat 7px center;
}

/* confirm 弹出框 start */
#tc-confirm{
  width: 300px;
  height: 200px;
  margin-left:-150px;
  margin-top: -100px;
}

#tc-confirm .confire-inner{
  padding: 60px 30px 30px;
}

#tc-confirm .confire-inner p{
  text-align: center;
}

#tc-confirm .btn-wrap{
  margin-top: 40px;
  height: 36px;
}
/* confirm 弹出框 end */


/* 字体颜色 */
.a4a9ae{ color: #a4a9ae; }
.ff8b62{ color: #ff8b62; }
.f38080{ color: #f38080; }
.c-47b2d9{ color: #47b2d9; }


/* 分页 start */
.page-bar{
  height: 24px;
  right: 0px;
}

.page-bar a,
.page-bar span{
  display: block;
  float: right;
  width: 24px;
  height: 24px;
  color: #5d5d5e;
  text-align: center;
  margin:0 4px; 
}

.page-bar .prev,
.page-bar .next{
  width: 22px;
  height: 22px;
  border: 1px solid #d8dbdb;
  background-repeat: no-repeat;
  
}

.page-bar .prev{
  background-position: 6px center;
  background-image: url(../images/icon-sxjt-left-ccc.png);
}

.page-bar .next{
  background-position: 8px center;
  background-image: url(../images/icon-sxjt-right-ccc.png);
}

.page-bar .prev-cur,
.page-bar .prev:hover{
  border: 1px solid #6cc;
  background-color: #6cc;
  background-image: url(../images/icon-sxjt-left-fff.png);
}

.page-bar .next-cur,
.page-bar .next:hover{
  border: 1px solid #6cc;
  background-color: #6cc;
  background-image: url(../images/icon-sxjt-right-fff.png);
}

.page-bar .dotted{
  width: 48px;
  line-height: 12px;
  letter-spacing: 2px;
}
/* 分页 end */


/* 整个页面遮罩层 */
#body-hover{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background: #000;
  z-index: 9999;
  display: none;
}


/* 弹出层通用样式 start */
.tc-box{
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  background: #fff;
  border-radius: 10px;
  z-index: 99999;
}

.tc-box .top{
  height: 66px;
  border-bottom: 1px solid #d8dbdb;
}

.tc-box .top h2{
  height: 66px;
  line-height: 66px;
  text-align: center;
}

.tc-close{
  position: absolute;
  width: 40px;
  height: 40px;
  right: 14px;
  top: 14px;
  background: url(../images/icon-tc-close.png) no-repeat center center;
  cursor: pointer;
}

.tc-show{
  cursor: pointer;
}
/* 弹出层通用样式 end */


/* 搜索框通用样式 start */
.search{
  width: 230px;
  height: 34px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;  
}

.search input{
  padding: 7px 10px;
  outline: none;
  width: 173px;
  background-color: #f0f2f5;
}

.search .btn-search{
  position: absolute;
  width: 37px;
  height: 34px;
  right: 0;
  top: 0;
  background: url(../images/btn-search.png) no-repeat;
  cursor: pointer;
}
/* 搜索框通用样式 end */


/* table 通用样式 start */
.table{
  width: 100%;
}

.table thead{
  color:#a4a9ae;
}

.table td,
.table th{
  line-height: 40px;
}

.table td,th{
  text-align: center;
}

.table .check{
  width: 40px;
  height: 40px;
  background: url(../images/icon-check.png) no-repeat center center;
  cursor: pointer;
  margin: 0 auto;
}

.table .checked{
  background: url(../images/icon-checked.png) no-repeat center center;
}

.table .odd{
  background-color:#f6f8fa;
}

.table tr:hover{
  background-color:#f0f2f5;
}
/* table 通用样式 end */