#side,
#main{
  height: 900px;
}

/* main-header start */
#main-header{
  height: 60px;
  border-bottom: 1px solid #d8dbdb;
  position: relative;
}

#main-header .btn-back,
#main-header .btn-edit, 
#main-header .btn-del,
#main-header .icon, 
#main-header h2 {
  top: 14px;
  position: absolute;
}

#main-header .icon{
  left: 12px;
  width: 32px;
  height: 32px;
  background: url(../images/icon-interactive-cur.png) no-repeat center center;
}

#main-header .btn-back{
  right: 225px;
}

#main-header .btn-edit{
  right: 125px;
}

#main-header .btn-del{
  right: 25px;
}

#main-header h2{
  left: 56px;
  width: 240px;
  height: 32px;
  line-height: 32px; 
}
/* main-header end */



#wx-wall-detail-top{
  padding: 20px;
  border-bottom: 1px solid #d8dbdb;
}

#wx-wall-detail-top .num-time{
  height: 28px;
  line-height: 28px;
}

#wx-wall-detail-top .status{
  color:#f88d68;
}
#wx-wall-detail-top .time i{
  display: block;
  width: 28px;
  height: 28px;
  float: left;
  background: url(../images/icon-clock.png) no-repeat center center;
}

#wx-wall-detail-top .template{
  margin: 30px 0;
  text-align: center;
}

#wx-wall-detail-top .template img{
  border:1px solid #d8dbdb;
}

#wx-wall-detail-bottom{
  padding: 30px 160px;
}
#wx-wall-detail-bottom td{
  padding: 5px 0;
}

#wx-wall-detail-bottom .abb0b4{
  color: #abb0b4;
  
}