#login{
  position: absolute;
  width:550px;
  height: 592px;
  left:50%;
  top:50%;
  margin-left: -274px;
  margin-top: -296px;
  border:1px solid #d8dbdb;
  background: #fff;
}
#logo{
  width:171px;
  height: 105px;
  margin: 0 auto;
  margin-top:50px;
}
.row{
  height: 50px;
}

.row .col{
  height: 50px;
  float: left;
  
}

.row .col-l,
.row .col-r{
  width: 128px;
}

.row .col-m{
  width: 294px;
}



.tips{
  font-size: 12px;
  color:#f16374;
  line-height: 50px;
  text-indent: 36px;
  background:url(../images/icon-tips-warning.png) no-repeat 5px center;
}

.link{
  width: 296px;
  margin: auto;
  height: 28px;
  line-height: 28px;
}

.link a{
  color:#5d5d5e;
}

.link .forget-pass{
  float:left;
}


.link .reg{
  float:right;
}

.link .link-index{
  text-align: center;
}




/* .rows .cols-left,
.rows .cols-right{
  width:23%;
}
.row .cols-middle{
  width: 54%;
} */