#login{
  position: absolute;
  width:550px;
  height: 592px;
  left:50%;
  top:50%;
  margin-left: -274px;
  margin-top: -296px;
  border:1px solid #d8dbdb;
  background: #fff;
}

#logo{
  width:171px;
  height: 105px;
  margin: 0 auto;
  margin-top:50px;
}

.row{
  height: 50px;
}

.row .col{
  height: 50px;
  float: left;
  
}

.row .col-l,
.row .col-r{
  width: 128px;
}

.row .col-m{
  width: 294px;
}

.text{
  border:1px solid #d8dbdb;
  color:#a4a9ae;
  font-size: 14px;
  height: 28px;
  padding: 10px;
  width: 274px;
}

.tips{
  font-size: 12px;
  color:#f16374;
  line-height: 50px;
  text-indent: 36px;
  background:url(../images/icon-tips-warning.png) no-repeat 5px center;
}

.link{
  width: 296px;
  margin: auto;
  height: 28px;
  line-height: 28px;
}

.link a{
  color:#5d5d5e;
}

.link .forget-pass{
  float:left;
}

.link-reg-fgtpasss{
  margin-top: 8px;
}

.link .reg{
  float:right;
}

.link-index{
  text-align: center;
  margin-top: 50px;
}

.btn-login{
  width: 220px;
  height: 50px;
  line-height: 50px;
  background: #6cc;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  color:#fff;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}