#login{
  position: absolute;
  width:550px;
  height: 592px;
  left:50%;
  top:50%;
  margin-left: -276px;
  margin-top: -297px;
  border:1px solid #d8dbdb;
  background: #fff;
  border-radius: 2px;
}

#login .logo{
  width:171px;
  height: 105px;
  margin: 0 auto;
  margin-top:50px;
}

.row{
  height: 50px;
}

.row .col{
  height: 50px;
  float: left;
}

.row .col-l,
.row .col-r{
  width: 128px;
}

.row .col-m{
  width: 294px;
}

#login .text{
  width: 272px; 
}

#login .warning-tips{
  line-height: 50px;
}

.link{
  width: 296px;
  margin: auto;
  height: 28px;
  line-height: 28px;
}

.link a{
  color:#5d5d5e;
}

.link .forget-pass{
  float:left;
}

.link-reg-fgtpasss{
  margin-top: 8px;
}

.link .reg{
  float:right;
}

.link-index{
  text-align: center;
  margin-top: 50px;
}

#login .btn-login{
  width: 220px;
  margin: 0 auto;
  margin-top: 50px;
}