/* layout start */
#side,
#main{
  height: 1067px;
}

#main{
  width: 884px;
  border: none;
  background: #FCFCFD;
}

#main-top{
  height: 720px;
}

#main-bottom{
  margin-top: 12px;
  height: 335px;
}

#meeting-detail,
#meeting-member{
  background: #fff;
  height: 720px;
  border:1px solid #d8dbdb;
}

#meeting-detail{
  width: 610px;
  float: left;
}

#meeting-member{
  width: 260px;
  float: right;
}

#interactive{
  background: #fff;
  height: 334px;
  border: 1px solid #d8dbdb;
}
/* layout end */


/* 会议详情 start */
.header{
  height: 60px;
  border-bottom: 1px solid #d8dbdb;
  position:relative;
}

.header .icon,
.header h2,
.header .btn-del,
.header .btn-edit,
.header .btn-back{
  position: absolute;
  top:15px;
}

.header .icon{
  left:12px;
  width: 34px;
  height: 32px;
  background: url(../images/icon-hy-detail.png) no-repeat center center;
}

.header h2{
  left:56px;
  width: 80px;
  height: 32px;
  line-height: 32px;
}

.header .btn-del{
  right: 15px;
}

.header .btn-edit{
  right: 110px;
}

.header .btn-back{
  right: 205px;
}

#meeting-detail .content-wrap{
  padding:15px;
}

#meeting-detail .meeting-img img{
  width: 580px;
}

#meeting-detail .title{
  height: 32px;
  line-height: 32px;
}

#meeting-detail .title h3{
  font-weight: 400;
  font-size: 21px;
  float: left;
}

#meeting-detail .title p{
  float: right;
  color: #a4a9ae;
}

#meeting-detail .time-print {
  height: 32px;
  line-height: 32px;
}

#meeting-detail .time-print .time{
  float: left;
  text-indent: 24px;
  background: url(../images/icon-clock.png) no-repeat left center;  
}

#meeting-detail .time-print .time span{
  margin-left: 30px;
}

#meeting-detail .time-print .print{
  float: right;
  color: #a4a9ae;
  text-indent: 35px;
  background: url(../images/icon-print.png) no-repeat left center;
  cursor: pointer;   
}

#meeting-detail td{
  height: 32px;
  line-height: 32px;
}

#meeting-detail .more-meeting-info{
  color:#a4a9ae;
}

#meeting-detail .map-wrap{
  height: 32px;
  line-height: 32px;
}

#meeting-detail .map-wrap .pack-up{
  text-indent: 20px;
  background: url(../images/icon-jt-bottom.png) no-repeat left center;
  cursor: pointer;
}

#meeting-detail .map-wrap .position{
  height: 32px;
  margin-bottom:10px;
}

#meeting-detail .map{
  width: 580px;
  height: 120px;
}
/* 会议详情 end */


/* 参会人员 start */
#meeting-member .header .icon{
  background: url(../images/icon-hy-member.png) no-repeat center center;
}

#meeting-member .header .total{
  position: absolute;
  top:15px;
  height: 32px;
  line-height: 32px;
  left:136px;
}

#meeting-member td{
  height: 34px;
  line-height: 34px;
  text-align: center;
}

#meeting-member .icon-sex-m,
#meeting-member .icon-sex-w,
#meeting-member .icon-mem-grey,
#meeting-member .icon-mem-green,
#meeting-member .icon-mem-blue{
  width: 34px;
  height: 34px;
}

#meeting-member .icon-sex-m{
  background: url(../images/icon-sex2-m.png) no-repeat center center;
}

#meeting-member .icon-sex-w{
  background: url(../images/icon-sex2-w.png) no-repeat center center;
}
#meeting-member .icon-mem-grey{
  background: url(../images/icon-mem-grey.png) no-repeat left center;
}

#meeting-member .icon-mem-green{
  background: url(../images/icon-mem-green.png) no-repeat left center;
}

#meeting-member .icon-mem-blue{
  background: url(../images/icon-mem-blue.png) no-repeat left center;
}

#meeting-member td.name{
  width: 78px;
  font-size: 16px;
}

#meeting-member td.ico{
  width: 34px;
}

#meeting-member .more-member{
  margin-top: 5px;
  height: 32px;
  line-height: 30px;
  padding: 0 15px;
}
/* 参会人员 end */


/* 会议互动 start */
#interactive .header .icon{
  background: url(../images/icon-hy-member.png) no-repeat center center;
}

#interactive .header .btn-add{
  position: absolute;
  top: 15px;
  right:15px;
}

#interactive td{
  height: 80px;
}

#interactive td.meeting-type{
  width:106px;
  text-align: center;
}

#interactive td.meeting-type img{
  vertical-align:middle;
}

#interactive td.link a{
  color: #a4a9ae;
  padding: 3px 10px;
}

#interactive td.link a.border{
  border:1px solid #d8dbdb;
}

#interactive .sign-wrap{
  height: 80px;
  float: left;
}

#interactive .sign-wx,
#interactive .sign-phone{
  border:1px solid #d8dbdb;
  background-color: #f1f2f2;
  padding: 4px 20px;
  color:#686969;
  margin-right: 10px;
}

#interactive td .tc-show{
  color:#fff;
}
/* 会议互动 end */






/* 更多参会人员弹出框 start */
#tc-chry{
  display: none;
  width: 624px;
  height: 630px;
  position: fixed;
  left:50%;
  top:50%;
  margin-left: -312px;
  margin-top: -315px;
  background: #fff;
  border-radius: 10px;
  z-index: 99999;
}

#tc-chry .top{
  height: 66px;
  border-bottom: 1px solid #d8dbdb;
}

#tc-chry .top h2{
  height: 66px;
  line-height: 66px;
  font-size: 18;
  font-weight: 400;
  text-indent: 24px;
}

#tc-chry .top .btn-add{
  position: absolute;
  left:200px;
  top:18px;
}

.btn-tc-close{
  width:40px;
  height: 40px;
  position: absolute;
  right: 14px;
  top:14px;
  background: url(../images/icon-tc-close.png) no-repeat center center;
  cursor: pointer;
}

#tc-chry td{
  text-align: center;
  height: 40px;
  line-height: 40px;
}

#tc-chry .sex-m{
  background: url(../images/icon-sex2-m.png) no-repeat 100px center; 
}

#tc-chry .sex-w{
  background: url(../images/icon-sex2-w.png) no-repeat 100px center; 
}

.order{
  display:inline-block;
  width: 30px;
  height:9px;
}

#tc-chry .icon-mem-grey,
#tc-chry .icon-mem-green,
#tc-chry .icon-mem-blue{
  width: 120px;
  height: 34px;
}

#tc-chry .icon-mem-grey{
  background: url(../images/icon-mem-grey.png) no-repeat center center;
}
#tc-chry .icon-mem-green{
  background: url(../images/icon-mem-green.png) no-repeat center center;
}
#tc-chry .icon-mem-blue{
  background: url(../images/icon-mem-blue.png) no-repeat center center;
}

#tc-chry .order-desc{
  background: url(../images/icon-jt-bottom.png) no-repeat center center;
}

#tc-chry .order-asc{
  background: url(../images/icon-jt-top.png) no-repeat center center;
}

#tc-chry .cursor-pointer{
  cursor:pointer;
}

#tc-chry .page-bar-wrap{
  margin-top: 25px;
  height: 24px;
  padding-right: 36px;
}
/* 更多参会人员弹出框 end */



/* 更多会议信息弹出层 start */
#tc-more-meeting-info{
  width: 660px;
  height: 500px;
  margin-left: -330px;
  margin-top: -250px;
  overflow: hidden;
}

#tc-more-meeting-info .content{
  padding:30px 40px;
  height: 373px;
  overflow-y:scroll;
}

#tc-more-meeting-info .content h3,
#tc-more-meeting-info .content p{
  line-height: 2em;
}

#tc-more-meeting-info .content h3{
 font-size: 14px;
 font-weight: 400;
 color: #a4a9ae; 
}
/* 更多会议信息弹出层 end */


/* 签到模式切换弹出层 start */
#tc-sign-change{
  width: 590px;
  height: 420px;
  margin-top: -210px;
  margin-left: -295px;
}

#tc-sign-change td{
  text-align: center;
}

#tc-sign-change td.img{
  height: 180px;
}

#tc-sign-change td img{
  vertical-align:center;
}

#tc-sign-change td.title{
  height: 36px;
  line-height: 36px;
  font-size: 18px;
}

#tc-sign-change td.des{
  color: #a4a9ae;
}

#tc-sign-change .radio{
  margin:0 auto;
  margin-top: 20px; 
  width: 38px;
  height: 38px;
  vertical-align: middle;
  background:url(../images/radio-blue.png);
  cursor: pointer;
}

#tc-sign-change .radio-checked{
  background:url(../images/radio-blue-checked.png);
}
/* 签到模式切换 end */


/* 增加参会人弹出层 start */
#tc-add-member{
  width: 610px;
  height: 400px;
  margin-top: -200px;
  margin-left: -305px;
}

/* #tc-add-number .content{
  padding: 30px 20px; 
}

#tc-add-number .chry-wrap{
  border:1px solid #d8dbdb;
  padding: 10px 15px;
}

.p-t-10{
  padding-top: 10px;
}

#tc-add-number .txl-wrap,
#tc-add-number .zdr-wrap,
#tc-add-number .fz-wrap,
#tc-add-number .zdfz-wrap{
  height:30px;
  line-height: 30px;
}

#tc-add-number .fz-wrap{
  padding-left: 26px;
}

#tc-add-number .txl{
  float: left;
}

#tc-add-number .checkbox,
#tc-add-number .radio{
  width: 30px;
  height: 30px;
  float: left;
  cursor: pointer;
}

#tc-add-number .checkbox{
  background: url(../images/icon-check.png) no-repeat left center;
}

#tc-add-number .radio{
  background: url(../images/radio-sm-default.png) no-repeat left center;
}

#tc-add-number .checkbox-checked{
  background: url(../images/icon-checked.png) no-repeat left center;
}

#tc-add-number .radio-checked{
  background: url(../images/radio-sm-checked.png) no-repeat left center;
}

#tc-add-number .slide{
  width: 15px;
  height: 30px;
  float: right;
  background: url(../images/icon-jt-bottom.png) no-repeat right center;
  cursor: pointer;
}

#tc-add-number .zdr{
  text-indent: 35px;
  background: url(../images/radio-sm-checked.png) no-repeat left center;
}

#tc-add-number .qbfz{
  margin-right: 20px;
}

#tc-add-number .text-zdfz{
  text-indent: 28px;
}

#tc-add-number .zdfz-wrap {
  padding-left: 26px;
}

#tc-add-number .zdfz-wrap .item{
  float: left;
  margin-right: 20px;
}

#tc-add-number .yqh-wrap{
  height: 30px;
  line-height: 30px;
}

#tc-add-number .yqh-wrap .item{
  float: left;
  margin-right:20px;
}

#tc-add-number .nddh{
  color:#66cccc;
}

#tc-add-number .btn-wrap{
  width: 230px;
  position: absolute;
  right: 30px;
  bottom: 30px; 
} */
/* 增加参会人弹出层 end */