#side,
#main{
  height: 810px;
}
/* 会议添加Header start */
#meeting-add-header{
  height: 60px;
  border-bottom: 1px solid #d8dbdb;
  position: relative;
}

#meeting-add-header .btn-back,
#meeting-add-header .icon,
#meeting-add-header h2{
  top: 14px;
  position: absolute;
}

#meeting-add-header .btn-back{
  right: 25px;
}

#meeting-add-header .icon{
  left: 12px;
  width: 32px;
  height: 32px;
  background: url(../images/icon-add.png) no-repeat center center;
}

#meeting-add-header h2{
  font-weight: 400;
  font-size: 18px;
  left: 56px;
  width: 80px;
  height: 32px;
  line-height: 32px;
}
/* 会议添加Header end */


/* 会议添加Content start */
#meeting-add-con{
  padding:12px 24px; 
}

#meeting-add-con td{
  padding:5px 0; 
}

#meeting-add-con .radio{
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  float: left;
  margin-right: 30px;
}

#meeting-add-con .radio i{
  width: 30px;
  height: 38px;
  display: block;
  float: left;
  background:url(../images/radio-sm-default.png) no-repeat -2px center;
}

#meeting-add-con .radio-checked i{
  background:url(../images/radio-sm-checked.png) no-repeat -2px center;
}

#meeting-add-con .tips{
  height: 32px;
  line-height: 32px;
  color:#f16374;
  margin-left:15px; 
}

#meeting-add-con .tips i{
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  background:url(../images/icon-hongxin.png) no-repeat center center;
}

#meeting-add-con .btn-wrap{
  width: 232px;
  margin-top: 15px;
}

#allmap{
  width: 580px;
  height: 120px;
}

.w80{
  width: 80px;
}
.w250{
  width:250px;
}
/* 会议添加Content end */


/* 更多会议信息弹出层 start */
#tc-more-meeting-info{
  margin-left: -330px;
  margin-top: -250px;
  width: 660px;
  height: 500px;
}

#tc-more-meeting-info .content{
  padding: 28px;
}

#tc-more-meeting-info .content h3{
  font-size: 14px;
  font-weight: 400;
  color: #454646;
}

#tc-more-meeting-info .content textarea{
  border: 1px solid #d8dbdb;
  width: 586px;
  height: 55px;
  color: #a4a9ae;
  outline: none;
  padding: 10px;
  margin-top: 10px;
}

#tc-more-meeting-info .btn-wrap{
  width: 232px;
  position: absolute;
  bottom: 15px;
  right: 20px;
}
/* 更多会议信息弹出层 end */


/* 添加wifi弹出层 start */
#tc-add-wifi{
  width: 420px;
  height: 450px;
  margin-left: -210px;
  margin-top: -225px;
}

#add-wifi-con {
  padding: 30px 50px;
}

#add-wifi-con td{
  padding: 5px 0;
}


#add-wifi-con .radio{
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  float: left;
  margin-right: 30px;
}

#add-wifi-con .radio i{
  width: 30px;
  height: 38px;
  display: block;
  float: left;
  background:url(../images/radio-sm-default.png) no-repeat -2px center;
}

#add-wifi-con .radio-checked i{
  background:url(../images/radio-sm-checked.png) no-repeat -2px center;
}

#add-wifi-con .check{
  line-height: 36px;
  cursor: pointer;
}

#add-wifi-con .check i{
  width:30px;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  float: left;
  background:url(../images/icon-check.png) no-repeat -2px center;
}

#add-wifi-con .checked i{
  background:url(../images/icon-checked.png) no-repeat -2px center;
}

#add-wifi-con .tips{
  color: #66cccc;
}

#add-wifi-con .btn-wrap{
  width: 232px;
  height: 36px;
}
/* 添加wifi弹出层 end */