/* layout start */
#side,
#main{
  height: auto;
}

#main{
  width: 884px;
  border: none;
  background: #FCFCFD;
}

#main-top{
  height: 720px;
}

#main-bottom{
  margin-top: 12px;
}

#meeting-detail,
#meeting-member{
  background: #fff;
  height: 720px;
  border:1px solid #d8dbdb;
}

#meeting-detail{
  width: 610px;
  float: left;
}

#meeting-member{
  width: 260px;
  float: right;
}

#interactive{
  background: #fff;
  border: 1px solid #d8dbdb;
}
/* layout end */


/* 会议详情 start */
.header{
  height: 60px;
  border-bottom: 1px solid #d8dbdb;
  position:relative;
}

.header .icon,
.header h2,
.header .btn-del,
.header .btn-edit,
.header .btn-back{
  position: absolute;
  top:15px;
}

.header .icon{
  left:12px;
  width: 34px;
  height: 32px;
  background: url(../images/icon-hy-detail.png) no-repeat center center;
}

.header h2{
  left:56px;
  width: 80px;
  height: 32px;
  line-height: 32px;
}

.header .btn-del{
  right: 15px;
}

.header .btn-edit{
  right: 110px;
}

.header .btn-back{
  right: 205px;
}

#meeting-detail .content-wrap{
  padding:15px;
}

#meeting-detail .meeting-img img{
  width: 580px;
}

#meeting-detail .title{
  height: 32px;
  line-height: 32px;
}

#meeting-detail .title h3{
  font-weight: 400;
  font-size: 21px;
  float: left;
}

#meeting-detail .title p{
  float: right;
  color: #a4a9ae;
}

#meeting-detail .time-print {
  height: 32px;
  line-height: 32px;
}

#meeting-detail .time-print .time{
  float: left;
  text-indent: 24px;
  background: url(../images/icon-clock.png) no-repeat left center;  
}

#meeting-detail .time-print .time span{
  margin-left: 30px;
}

#meeting-detail .time-print .print{
  float: right;
  color: #a4a9ae;
  text-indent: 35px;
  background: url(../images/icon-print.png) no-repeat left center;
  cursor: pointer;   
}

#meeting-detail td{
  height: 32px;
  line-height: 32px;
}

#meeting-detail .more-meeting-info{
  color:#a4a9ae;
}

#meeting-detail .map-wrap{
  height: 32px;
  line-height: 32px;
}

#meeting-detail .map-wrap .pack-up{
  text-indent: 20px;
  background: url(../images/icon-jt-bottom.png) no-repeat left center;
  cursor: pointer;
}

#meeting-detail .map-wrap .position{
  height: 32px;
  margin-bottom:10px;
}

#meeting-detail .map{
  width: 580px;
  height: 120px;
}
/* 会议详情 end */


/* 参会人员 start */
#meeting-member .header .icon{
  background: url(../images/icon-hy-member.png) no-repeat center center;
}

#meeting-member .header .total{
  position: absolute;
  top:15px;
  height: 32px;
  line-height: 32px;
  left:136px;
}

#meeting-member td{
  height: 34px;
  line-height: 34px;
  text-align: center;
}

#meeting-member .icon-sex-m,
#meeting-member .icon-sex-w,
#meeting-member .icon-mem-grey,
#meeting-member .icon-mem-green,
#meeting-member .icon-mem-blue{
  width: 34px;
  height: 34px;
}

#meeting-member .icon-sex-m{
  background: url(../images/icon-sex2-m.png) no-repeat center center;
}

#meeting-member .icon-sex-w{
  background: url(../images/icon-sex2-w.png) no-repeat center center;
}
#meeting-member .icon-mem-grey{
  background: url(../images/icon-mem-grey.png) no-repeat left center;
}

#meeting-member .icon-mem-green{
  background: url(../images/icon-mem-green.png) no-repeat left center;
}

#meeting-member .icon-mem-blue{
  background: url(../images/icon-mem-blue.png) no-repeat left center;
}

#meeting-member td.name{
  width: 78px;
  font-size: 16px;
}

#meeting-member td.ico{
  width: 34px;
}

#meeting-member .more-member{ margin-top: 11px ;height: 32px; line-height: 30px; padding: 0 15px;}
/* 参会人员 end */


/* 会议互动 start */
#interactive .header .icon{
  background: url(../images/icon-hy-member.png) no-repeat center center;
}

#interactive .header .btn-add{
  position: absolute;
  top: 15px;
  right:15px;
}

#interactive td{
  height: 80px;
}

#interactive td.meeting-type{
  width:106px;
  text-align: center;
}

#interactive td.meeting-type img{
  vertical-align:middle;
}

#interactive td.link a{
  color: #a4a9ae;
  padding: 3px 10px;
}

#interactive td.link a.border{
  border:1px solid #d8dbdb;
}

#interactive .sign-wrap{
  height: 80px;
  float: left;
}

#interactive .sign-wx,
#interactive .sign-phone{
  border:1px solid #d8dbdb;
  background-color: #f1f2f2;
  padding: 4px 20px;
  color:#686969;
  margin-right: 10px;
}

#interactive td .tc-show{
  color:#fff;
}
/* 会议互动 end */






/* 更多参会人员弹出层 start */
#tc-more-member{
  width: 624px;
  height: 500px;
  margin-left: -312px;
  margin-top: -250px;
}

#tc-more-member h2{
  text-align: left;
  text-indent: 24px;
}

#tc-more-member .top .btn-add{
  position: absolute;
  left:200px;
  top:18px;
}

#tc-more-member td{
  text-align: center;
  height: 40px;
  line-height: 40px;
}

#tc-more-member .sex-m{
  background: url(../images/icon-sex2-m.png) no-repeat 100px center; 
}

#tc-more-member .sex-w{
  background: url(../images/icon-sex2-w.png) no-repeat 100px center; 
}

#tc-more-member .order{
  display:inline-block;
  width: 30px;
  height:9px;
}

#tc-more-member .icon-mem-grey,
#tc-more-member .icon-mem-green,
#tc-more-member .icon-mem-blue{
  width: 120px;
  height: 34px;
}

#tc-more-member .icon-mem-grey{
  background: url(../images/icon-mem-grey.png) no-repeat center center;
}
#tc-more-member .icon-mem-green{
  background: url(../images/icon-mem-green.png) no-repeat center center;
}
#tc-more-member .icon-mem-blue{
  background: url(../images/icon-mem-blue.png) no-repeat center center;
}

#tc-more-member .order-desc{
  background: url(../images/icon-jt-bottom.png) no-repeat center center;
}

#tc-more-member .order-asc{
  background: url(../images/icon-jt-top.png) no-repeat center center;
}

#tc-more-member .cursor-pointer{
  cursor:pointer;
}

#tc-more-member .page-bar-wrap{
  position: absolute;
  right: 25px;
  bottom: 25px;
}
/* 更多参会人员弹出层 end */



/* 更多会议信息弹出层 start */
#tc-more-meeting-info{
  width: 660px;
  height: 500px;
  margin-left: -330px;
  margin-top: -250px;
  overflow: hidden;
}

#tc-more-meeting-info .content{
  padding:30px 40px;
  height: 373px;
  overflow-y:scroll;
}

#tc-more-meeting-info .content h3,
#tc-more-meeting-info .content p{
  line-height: 2em;
}

#tc-more-meeting-info .content h3{
 font-size: 14px;
 font-weight: 400;
 color: #a4a9ae; 
}
/* 更多会议信息弹出层 end */


/* 签到模式切换弹出层 start */
#tc-sign-change{
  width: 590px;
  height: 420px;
  margin-top: -210px;
  margin-left: -295px;
}

#tc-sign-change td{
  text-align: center;
}

#tc-sign-change td.img{
  height: 180px;
}

#tc-sign-change td img{
  vertical-align:center;
}

#tc-sign-change td.title{
  height: 36px;
  line-height: 36px;
  font-size: 18px;
}

#tc-sign-change td.des{
  color: #a4a9ae;
}

#tc-sign-change .radio{
  margin:0 auto;
  margin-top: 20px; 
  width: 38px;
  height: 38px;
  vertical-align: middle;
  background:url(../images/radio-blue.png);
  cursor: pointer;
}

#tc-sign-change .radio-checked{
  background:url(../images/radio-blue-checked.png);
}
/* 签到模式切换 end */


/* 增加参会人弹出层 start */
#tc-add-member{
  width: 610px;
  height: 400px;
  margin-top: -200px;
  margin-left: -305px;
  overflow: hidden;
}

#tc-add-member .frame-wrap{
  width: 100%;
  height: 100%;
}
/* 增加参会人弹出层 end */


/* 添加互动弹出层 start */
#tc-interactive-add{
  width: 660px;
  height: 500px;
  margin-left:-330px;
  margin-top:-250px;
}

#tc-interactive-add .frame-wrap{
  border-bottom:1px solid #d8dbdb;
  height: 370px;
}

#tc-interactive-add .btn-wrap{
  position: absolute;
  width: 232px;
  height: 36px;
  right: 30px;
  bottom: 14px;
}
/* 添加互动弹出层 end */









/* 邀请函弹出层 start */
#tc-inv{ width: 610px; height: 500px; margin-top: -250px; margin-left: -305px; overflow: hidden; display:none;}
#tc-inv .tc-inv-inner{ padding:50px 35px; overflow-y: scroll; height: 400px; }
#tc-inv h2{ text-align: center; display: none; }
#tc-inv p{ line-height: 2em; }
#tc-inv .qr-code{ padding: 30px 0; text-align: center; }
#tc-inv .title input{ text-align: center; padding: 1px; color: #5d5d5e; font-size: 18px; width: 100%; outline: none;}
#tc-inv .con textarea{ height: 80px; color: #5d5d5e; line-height: 1.5em; width: 100%; outline: none; border:1px solid #ccc; padding: 10px; margin:0 -10px;}
#tc-inv .btn-wrap{ width: 232px; float: right; margin-top: 20px; }
#p-inv-con{ display: none; }