/* layout start */
#side,
#main{
  height: 1067px;
}

#main{
  width: 884px;
  border: none;
  background: #FCFCFD;
}

#main-top{
  height: 720px;
}

#main-bottom{
  margin-top: 12px;
  height: 335px;
}

#meeting-detail,
#meeting-member{
  background: #fff;
  height: 720px;
  border:1px solid #d8dbdb;
}

#meeting-detail{
  width: 610px;
  float: left;
}

#meeting-member{
  width: 260px;
  float: right;
}

#interactive{
  background: #fff;
  height: 334px;
  border: 1px solid #d8dbdb;
}
/* layout end */


/* 会议详情 start */
.header{
  height: 60px;
  border-bottom: 1px solid #d8dbdb;
  position:relative;
}

.header .icon,
.header h2,
.header .btn-del,
.header .btn-edit,
.header .btn-back{
  position: absolute;
  top:15px;
}

.header .icon{
  left:12px;
  width: 34px;
  height: 32px;
  background: url(../images/icon-hy-detail.png) no-repeat center center;
}

.header h2{
  left:56px;
  width: 80px;
  height: 32px;
  line-height: 32px;
}

.header .btn-del{
  right: 15px;
}

.header .btn-edit{
  right: 110px;
}

.header .btn-back{
  right: 205px;
}

#meeting-detail .content-wrap{
  padding:15px;
}

#meeting-detail .meeting-img img{
  width: 580px;
}

#meeting-detail .title{
  height: 32px;
  line-height: 32px;
}

#meeting-detail .title h3{
  font-weight: 400;
  font-size: 21px;
  float: left;
}

#meeting-detail .title p{
  float: right;
  color: #a4a9ae;
}

#meeting-detail .time-print {
  height: 32px;
  line-height: 32px;
}

#meeting-detail .time-print .time{
  float: left;
  text-indent: 24px;
  background: url(../images/icon-clock.png) no-repeat left center;  
}

#meeting-detail .time-print .time span{
  margin-left: 30px;
}

#meeting-detail .time-print .print{
  float: right;
  color: #a4a9ae;
  text-indent: 35px;
  background: url(../images/icon-print.png) no-repeat left center;
  cursor: pointer;   
}

#meeting-detail td{
  height: 32px;
  line-height: 32px;
}

#meeting-detail .more-meeting-info{
  color:#a4a9ae;
}

#meeting-detail .map-wrap{
  height: 32px;
  line-height: 32px;
}

#meeting-detail .map-wrap .pack-up{
  text-indent: 20px;
  background: url(../images/icon-jt-bottom.png) no-repeat left center;
  cursor: pointer;
}

#meeting-detail .map-wrap .position{
  height: 32px;
  margin-bottom:10px;
}

#meeting-detail .map{
  width: 580px;
  height: 120px;
}
/* 会议详情 end */






/* 参会人员 start */
#meeting-member .header .icon{
  background: url(../images/icon-hy-member.png) no-repeat center center;
}

#meeting-member .header .total{
  position: absolute;
  top:15px;
  height: 32px;
  line-height: 32px;
  left:136px;
}

#meeting-member .content{
  padding:30px 20px;
}
/* 参会人员 end */


/* 会议互动 start */
#interactive .header .icon{
  background: url(../images/icon-hy-member.png) no-repeat center center;
}

#interactive .header .btn-add{
  position: absolute;
  top: 15px;
  right:15px;
}

#interactive td{
  height: 80px;
}

#interactive td.meeting-type{
  width:106px;
  text-align: center;
}

#interactive td.meeting-type img{
  vertical-align:middle;
}

#interactive .tips{
  background-color:#cacccc;
  color:#fff;
  border-radius: 8px;
  float: left;
  padding: 8px 12px;
  position: relative;
}

#interactive .tips i{
  position: absolute;
  width: 9px;
  height: 13px;
  top:10px;
  left:-8px;
  background:url(../images/icon-sxjt-left-ccc.png) no-repeat center center;
}
/* 会议互动 end */


/* 更多会议信息弹出层 start */
#tc-more-meeting-info{
  width: 660px;
  height: 500px;
  margin-left: -330px;
  margin-top: -250px;
  overflow: hidden;
}

#tc-more-meeting-info .content{
  padding:30px 40px;
  height: 373px;
  overflow-y:scroll;
}

#tc-more-meeting-info .content h3,
#tc-more-meeting-info .content p{
  line-height: 2em;
}

#tc-more-meeting-info .content h3{
 font-size: 14px;
 font-weight: 400;
 color: #a4a9ae; 
}
/* 更多会议信息弹出层 end */


/* 签到模式切换弹出层 start */
#tc-sign-change{
  width: 590px;
  height: 420px;
  margin-top: -210px;
  margin-left: -295px;
}

#tc-sign-change td{
  text-align: center;
}

#tc-sign-change td.img{
  height: 180px;
}

#tc-sign-change td img{
  vertical-align:center;
}

#tc-sign-change td.title{
  height: 36px;
  line-height: 36px;
  font-size: 18px;
}

#tc-sign-change td.des{
  color: #a4a9ae;
}

#tc-sign-change .radio{
  margin:0 auto;
  margin-top: 20px; 
  width: 38px;
  height: 38px;
  vertical-align: middle;
  background:url(../images/radio-blue.png);
  cursor: pointer;
}

#tc-sign-change .radio-checked{
  background:url(../images/radio-blue-checked.png);
}
/* 签到模式切换 end */


/* 增加参会人弹出层 start */
#tc-add-member{
  width: 610px;
  height: 400px;
  margin-top: -200px;
  margin-left: -305px;
  overflow: hidden;
}

#tc-add-member .frame-wrap{
  width: 100%;
  height: 100%;
}
/* 增加参会人弹出层 end */


/* 添加互动弹出层 start */
#tc-interactive-add{
  width: 660px;
  height: 500px;
  margin-left:-330px;
  margin-top:-250px;
}

#tc-interactive-add .frame-wrap{
  border-bottom:1px solid #d8dbdb;
  height: 370px;
}

#tc-interactive-add .btn-wrap{
  position: absolute;
  width: 232px;
  height: 36px;
  right: 30px;
  bottom: 14px;
}
/* 添加互动弹出层 end */