#register{
  width: 1078px;
  border:1px solid #d8dbdb;
  border-top:0;
  margin: 0 auto;
  background: #fff;
  padding-top: 60px;
  padding-bottom: 45px;
  overflow: hidden;
}

.row{
  height: 42px;
}

.row .col{
  height: 42px;
  float: left;
}

#title{
  height: 60px;
}

#title .col{
  height: 60px;
  float: left;
}

.row .col-l{
  width: 350px;
}

.row .col-m{
  width: 356px;
}

.row .col-r{
  width: 372px;
}

#register h1{
  font-size: 24px;
}

#register .warning-tips{
  line-height: 42px;
}

.radio-wrap{
  height: 26px;
}

.radio-wrap .radio{
  height: 26px;
  float: left;
  line-height: 26px;
  padding-left: 30px;
  background: url(../images/radio-default.png) no-repeat left center;
  cursor: pointer;
}

.radio-wrap .radio{
  margin-right: 30px;
}

.radio-wrap .radio-checked{
  background: url(../images/radio-checked.png) no-repeat left center;
}