#show-message{
  width: 618px;
  height: 418px;
  border:1px solid #d8dbdb;
  margin: 70px auto 0 auto;
  background-color: #fff; 
}

#show-message .con{
  width: 470px;
  margin: 110px auto;
  overflow: hidden;
}

#show-message .highlight{
  color:#f16374;
}

#show-message h1{
  font-size: 20px;
  line-height: 40px;
}