*{
  margin: 0;
  padding: 0;
  border:none;
}

body,input,textarea{
  font-family:"microsoft yahei","Hiragino Sans GB","Hiragino Sans GB W3";
  font-size: 14px;
}

a{
  text-decoration: none;
}

li{
  list-style:none;
}

h1,h2,h3{
  font-weight: 400;
}

.fl,
.fr{
  display: block;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.clear:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}