*{
  margin: 0;
  padding: 0;
  border:none;
}

body{
  font-family: 'microsoft yahei';
  font-size: 14px;
}

input{
  font-family: 'microsoft yahei';
}

a{
  text-decoration: none;
}

li{
  list-style:none;
}

.fl,
.fr{
  display: block;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.clear:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}