.header-wrap{
  border-bottom:1px solid #d8dbdb;
  width: 100%;
  overflow: hidden;
}

.header{
  width: 1014px;
  margin: 0 auto;
}

.header .logo{
  width: 212px;
  height: 100px;
  float: left;
  background: url(../images/logo2.png) no-repeat left center;
}

.header .nav-wrap{
  width: 710px;
  height: 100px;
  float: right;
  position: relative;
}

.header .nav-inner{
  position: absolute;
  width: 1920px;
  z-index: 99;
  
}

.header .nav,
.header .login-wrap{
  float: left;
} 

.header .login-wrap{
  color: #6c6c6c;
  margin-left: 10px;
}

.header .nav a{
  display: block;
  float: left;
  color: #6c6c6c;
  margin:0 2px; 
}

.header .login-wrap a{
  color: #6c6c6c;
}

.nav a:hover,
.nav a.cur{
  background-color: #66cccc;
  color: #fff;
}

.login-wrap a:hover{
  color: #66cccc;
}


@media screen and (max-width:1350px){
  .header{
    height: 80px;
  }

  .header .logo{
    height: 80px;
  }

  .header .nav-wrap{
    height: 80px;
  }

  .header .nav-inner{
    font-size: 16px;
    height: 40px;
    left: 20px;
    top: 20px; 
  }

  .header .nav a{
    padding: 0 20px;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
  }

  .header .login-wrap{
    line-height: 40px;
  }
}

@media screen and (min-width:1351px){
  .header{
    height: 100px;
  }
  
  .header .logo{
    height: 100px;
  }

  .header .nav-wrap{
    height: 100px;
  }

  .header .nav-inner{
    font-size: 18px;
    height: 50px;
    left: 25px;
    top: 25px; 
  }

  .header .nav a{
    padding: 0 30px;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
  }
  
  .header .login-wrap{
    line-height: 50px;
  }
}