.container{
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background-image:url(../images/the-raise.png);
  position: relative; 
  color: #eadaa1;
}

.logo{
  position: absolute;
  left: 160px;
  top: 86px;
}

.company{
  position: absolute;
  left: 161px;
  top: 155px;
  font-size: 36px;
  font-weight: 800;
}

.the-raise-name{
  position: absolute;
left: 160px;
top: 263px;
font-size: 63px;
font-weight: 800;
border-bottom: 1px solid #eadaa1;
padding-bottom: 19px;
text-shadow: 1px 0 10px #6a0d00, 0 1px 10px #6a0d00,0 -1px 10px #6a0d00, -1px 0 10px #6a0d00;
}

.the-raise-list{
  position: absolute;
  font-weight: 800;
  font-size: 56px;
  left: 160px;
  top: 431px;
}

.the-raise-list li{
  list-style: none;
}

.total{
  position: absolute;
  left: 1385px;
  top: 203px;
  color: #ba935d;
  font-size: 74px;
  font-weight: 800;
  text-shadow: -1px -1px 1px #795f3c;
}